footer ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  list-style: none;
  list-style-type: none;
  font-size: 14px;
}

footer .inner {
  margin-top: 8px;
  padding: 32px 0 64px 0;
}

footer .footer-link a {
  text-decoration: none;
  color: #333;
}

footer .footer-link a:hover {
  text-decoration: underline;
}

footer .footer-copy {
  width: 100%;
  height: auto;
  text-align: center;
  margin-top: 8px;
}

footer .footer-copy span {
  font-size: 13px;
  font-weight: 300;
}